#Secrets - never push there to Github
.env

# Python generates this automatically - not your code
__pycache__/
*.pyc

# Local virtual environment if you ever run without Docker
venv/
.venv/

# Frontend (Next.js) ignores
node_modules/
.next/
frontend/.env.local
